html,
body {
  --sierra: #4e395d;
  height: 100%;
  margin: 0;
  font-family: "Lora", serif;
}
main {
  display: flex;
  height: 100%;
}
a {
  color: var(--sierra);
}

.RightSection {
  flex: 2;
  background: #fafafa;
}

.LeftSection {
  flex: 1;
  background-image: url(paper.png);
  padding: 100px 0 0;
  box-shadow: 0 0 25px #bbb;
  z-index: 1;
  overflow-y: hidden;
}

.LeftSection__portrait-image {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 5px solid var(--sierra);
  max-width: 250px;
}

.LeftSection h1 {
  font-size: 48px;
  font-family: "Leckerli One", cursive;
  text-align: center;
  color: var(--sierra);
  margin: 30px 0;
  position: relative;
}

/* .LeftSection h1::before {
    content: "My name is";
    position: absolute;
    color: black;
    font-size: 16px;
    top: -15px;
    margin-left: 20px;
    font-weight: normal;
    font-family: sans-serif;
  } */

.LeftSection .LeftSection__about-container {
  text-align: center;
  margin: 30px 35px;
}

.LeftSection .LeftSection__about-container p {
  margin-bottom: 35px;
}

.CtaButton {
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: 3px solid var(--sierra);
  font-weight: bold;
  font-size: 18px;
  color: var(--sierra);
  padding: 15px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.CtaButton:hover {
  background-color: var(--sierra);
  color: white;
  cursor: pointer;
}

.LeftSection nav {
  margin-top: 20px;
  margin-bottom: 35px;
}

.LeftSection nav a {
  margin: 0;
  font-size: 16px;
}

.LeftSection nav a:not(:first-of-type)::before {
  content: "|";
  margin: 0 15px;
  text-decoration: none;
  color: black;
  cursor: default;
}

.LeftSection__praise-container a {
  font-size: 14px;
}

.LeftSection__praise-container a:nth-of-type(2) {
  display: block;
  margin-top: 5px;
}

.LeftSection,
.RightSection {
  max-height: 100%;
  overflow-y: scroll;
}

.RightSection__header {
  padding: 10px 30px;
  margin: 65px 0 0;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  display: block;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

.RightSection__header::after {
  content: "";
  background-image: url(fancy.svg);
  height: 40px;
  width: 300px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px auto;
}

.PortfolioItem {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: flex;
}

.PortfolioItem section {
  flex: 1;
}

.PortfolioItem:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.PortfolioItem:nth-of-type(2n) section {
  text-align: right;
}

.PortfolioItem__title {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}

.PortfolioItem img {
  box-shadow: 0px 0px 10px 0px rgba(148, 148, 148, 1);
  display: block;
  margin: 0 auto;
  width: 500px;
}

.RightSection article {
  border-bottom: 2px dashed #999;
  padding: 30px;
}

.RightSection article:last-of-type {
  border-bottom: none;
}

.PortfolioItem__download-link {
  margin-top: 10px;
}

.PortfolioItem__download-link a {
  font-weight: bold;
  font-style: italic;
}

.StoryItem p {
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.StoryItem p:first-of-type {
  margin-top: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  main {
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll;
  }
  .LeftSection {
    overflow: visible;
    min-height: min-content;
  }
  .RightSection {
    overflow: visible;
    max-height: none;
  }
  .wrapper {
    width: auto;
    margin: auto;
  }
  .PortfolioItem {
    flex-direction: column !important;
  }
  .PortfolioItem section {
    text-align: left !important;
  }
  .PortfolioItem section:first-child {
    margin-bottom: 40px;
  }
}
