body {
   background-color: #dcd3df;

}
main {
  max-width: 100%;
  margin:auto;
}

header {
width: 100%;

}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.name {
  font-family: 'Montserrat', cursive;
}
header .wrapper {
  height: 75px;
  display: flex;
justify-content: space-between;
align-items: center;

}
#mainMenu {
  display:inline-block;
  list-style: none;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
}

#mainMenu li {
	display:block;
	float:left;
	margin-left:0px;
  padding: 6px;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	color:#a992b2;
}

#mainMenu li:hover {
	background-color:#7b6982;
}

#mainMenu li:hover a {
  color:#fcf7ff;

}
div.hello {
  font-family: 'Baloo Thambi', cursive;
  font-size: 150px;
  color: #a992b2;
  text-align: center;
  padding: 20px;
  position: relative;

}
.hello::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  pointer-events: auto;
  /*background-color: blue;*/
  z-index: 99;
  left:0;
}
.hello::after {
  content: "";
  display: block;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 92px;
  pointer-events: auto;
  /*background-color: blue;*/
  z-index: 99;
  left: 0;
}

.hello span {
  z-index: 1;
}

.hello span:hover {
  color:#7b6982
}

body{
font-family: 'Josefin Sans', sans-serif;
margin:0px;

}
h1 {
   text-Align: center;
}

.aboutme {
  color: #706e73;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(100px at center);
  position: relative;
}
.circle .bg {
  background: url("AppleProject3.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: filter 150ms linear;
}
.content {
  color: white;
  align-items: center;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 150ms linear;
}

.circle:hover .bg {
  filter: blur(5px) brightness(80%);
    /*background: url("AppleProject3blur.png");*/
    /*background-size: contain;*/
}

.circle:hover .content {
  opacity: 1;
}
footer {
  color: #a992b2;
  background-color: #4d4d4d;
  padding: 20px;
  text-align:center;
  margin-top: 60px;
  width: calc(100% - 40px);

}
